<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>

  <div class="article-tags-field">
      <%= f.label "カテゴリー" %>
      <%= f.text_field :tag_name %>
      <ul id="article-tags">
      </ul>
  </div>

  <div class="form-group row" id="star"><!--id="star"でセレクタを指定している-->
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({ //#starは11行目で指定したクラス名を入れ、.ratyはjqueryで使用できる星評価機能のプラグインを使っています。
    size     : 30,
    starOff:  '<%= asset_path('star-off.png') %>',//asset_pathでassets/imagesに入っているファイルを指定しています。
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'book[rate]',//bookモデルのrateカラムに値を保存しています。
    half: true,//★の半分の入力を行なっています。(0.5間隔の値になる)
  });
  </script>
  <!--ストロングパラメータを設定している場合は:rateをpermitに追加しないと表示されません-->
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
